<html>
    <head>
        <title>Helens blogg</title>
    </head>
    <body>
    	<div>
    <h1><a href="/">Helens blogg</a></h1>
</div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}
        
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Om mig</a></h2>
            <p>Helen, 20, student på Stockholms universitet som lär sig programmering.</p>
        </div>
    </body>
</html>